h1, p {
  
}
body {
  font-family: Arial;
  color: #fff;
  background: rgb(78,137,174);
  background: linear-gradient(308deg, rgba(78,137,174,1) 0%, rgba(67,101,139,1) 100%);
  
}

.project {
  border: 1px solid #ccc;
}

input[type="text"] {
  padding: 8px;
  background-color: #222;
  color: #ddd;

}

.project-remove {
 background: rgb(63,94,251);
background: linear-gradient(0deg, rgba(63,94,251,1) 0%, rgba(213,131,255,1) 100%); 
color: white;
font-weight: bold;
padding: 4px 20px;
margin-left: 20px;
}

.project-name {
  color: white;
  font-size: 18px;
  font-weight: bold;
}