h1, p {
  
}
body {
  font-family: Arial;
  color: #fff;
  background: rgb(78,137,174);
  background: linear-gradient(308deg, rgba(78,137,174,1) 0%, rgba(67,101,139,1) 100%);
  
}

.project {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px;
  position: relative;
}

input[type="text"] {
  padding: 8px;
  background-color: #222;
  color: #ddd;

}

.project-remove {
  font-weight: bold;
  padding: 4px 20px;
  margin-left: 20px;
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 0.8rem;
}

.project-name {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.column-fields {
  padding: 20px;

}

.columns {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 100%;
  grid-auto-flow: column;
  overflow-x: auto;
}

.column {
  padding: 10px;
  margin: 10px;

}