body {
  font-family: Arial;
  color: #fff;
  background-color: #333;
}

#root {
  margin: 2rem;
  padding: 2rem;
  border: 1px solid #555;
  border-radius: 8px;
}

h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
}

input {
  all: unset;
  border-radius: 4px;
  border: 1px solid #444;
  padding: .5rem;
}

button {
  all: unset;
  border-radius: 4px;
  border: 1px solid #555;
  padding: 0.5rem;
  background-color: #444;
}

button:hover {
  background-color: #555;
  border-color: #666;
  cursor: pointer;
}

.project {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px;
  position: relative;
}

input[type="text"] {
  background-color: #222;
  color: #ddd;
}
.project-remove {
  font-weight: bold;
  padding: 4px 20px;
  margin-left: 20px;
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 0.8rem;
}

.project-name {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.column-fields {
  padding: 20px;
}

.columns {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 100%;
  grid-auto-flow: column;
  overflow-x: auto;
}

.column {
  padding: 10px;
  margin: 10px;
}
